.footer-container {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  color: #fff;
  position: relative;
  background-color: black;
  height: 80px;
}

.footer-content {
  display: flex;
  list-style: none;
}

.footer-content li {
  padding: 15px;
  margin: 10px;
}

.media-container {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.media-container .media {
  padding: 0 15px;
}


@media screen and (max-width: 680px) {




}
